body{
    margin:0;
    padding: 0;
   
}
h1{
    text-align: center;
}
.mainbox{
    border-style: dotted;
    background-color: wheat;
    margin: auto;
    width:fit-content;

}
.cl{
    letter-spacing: 2px;
    font-size: 20px;
}
input{
   
    margin-top: 6px;
    margin-bottom: 20px;
    border: 2px solid black;
   border-radius: 8px;
    width:97%;
    height:70px;
   
}
.row{
    text-align: center;
    margin:4px;
   }
  button{
    cursor: pointer;
    width:90px;
    height:70px;
    margin:4px;
   border: 2px solid black;
   border-radius: 8px;
  } 